DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=shyshi_lawka

REDIS_PORT=6379
REDIS_HOST=localhost

SECRET_KEY=SUPER_SECRET_KEY_FOR_JWT_GENERATION
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=30

MAIL_USERNAME=ваш@gmail.com
MAIL_PASSWORD=xxxx_xxxx_xxxx_xxxx
MAIL_FROM=ваш@gmail.com
MAIL_SERVER=smtp.gmail.com
MAIL_PORT = 587
MAIL_STARTTLS=True
MAIL_SSL_TLS=False
FRONTEND_URL=https://ваш-сайт.ru